.container{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
h2{
    text-align: center;
}
.contain{
    width: 500px;
    border: 1px solid;
    border-color: black;
    border-radius: 2px;
    background: rgb(246, 118, 139);   
    
}
.input_elements{
    width:420px;
    height: 120px;
    text-align: center;
    border:1px solid;
    border-color:rgb(112, 5, 5);
    margin:15px;
    padding:10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.result,.input_data{
    height:15px;
    width:400px;
    margin:15px;
    font-size:10px;
    border:1px solid;
    text-align:center;
    padding:10px;
}
.btn{
    display: flex;
    gap: 8px; 
}
.btn button {
    margin:10px 20px;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
.btn button:hover {
    background-color: #0056b3;
}
